li {
	position: relative
}

.link a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #333344;
	color: #F4F5F6;
	width: 50px;
	height: 48px;
	border-bottom: 1px solid #444444;
	text-decoration: none;
	-o-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}

.link a:first-child {
	border-top: 1px solid #444444;
}

.link a.activeLink {
	background: #F4F5F6;
	color: #333344;
}

.ico {
	height: 20px;
}

.hint {
	visibility: hidden;
	position: absolute;
	padding: 16px 25px;
	width: auto;
	top: 0;
	left: 60px;
	background: #333344;
	color: #F4F5F6;
	text-align: center;
	border-radius: 3px;
	transition: opacity 0.5s;
	opacity: 0.8;
}

.hint::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #334 transparent transparent;
}

.hintVisible {
	visibility: visible;
}

@media screen and (max-width: 365px) {
	.link a {
		width: 40px;
		height: 38px;
	}
	.hint {
		padding: 11px 25px;
		left: 50px;
	}
}