@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

%content-block {
  @media (min-width: 880px) and (max-width: 1060px) {
    min-width: 350px;
  }
  @media (min-width: 460px) and (max-width: 530px) {
    min-width: 350px;
  }
  @media screen and (max-width: 459px) {
    min-width: 276px;
  }
  min-width: 420px;
  margin: 0 20px;
}

.wrapper {
  @include flex(column, flex-start, center);
  margin-bottom: 40px;

  .contacts {
    @include flex(row, center, stretch);
    flex-wrap: wrap;

    .first {
      @extend %content-block;
      @include flex(column, flex-start, center);

      ul {
        box-sizing: border-box;
        width: 100%;
        height: 256px;
        margin-top: 20px;
        border: 1px solid $primaryColor;
      }

      li {
        height: 42px;
        text-align: center;

        &:nth-child(odd) {
          margin-top: 25px;
          color: $primaryColor;
          font: 500 2rem Oswald;
          letter-spacing: 0.6px;
        }

        &:nth-child(even) {
          letter-spacing: 0.7px;
        }
      }

      .icons {
        @include flex(row, space-evenly, center);
        width: 100%;
        height: 42px;
        margin-top: auto;
        background-color: $primaryColor;
      }
    }

    .second {
      @extend %content-block;

      form {
        @include flex(column, flex-start, center);
        margin-top: 20px;

        input, textarea {
          box-sizing: border-box;
          width: 100%;
          height: 42px;
          margin-bottom: 10px;
          padding: 5px 10px;
          outline: none;
          border: 1px solid $primaryColor;
          background-color: transparent;
          color: $primaryColor;
          font: 400 1.5rem Roboto;
        }

        textarea {
          resize: vertical;
          height: 100px;
          min-height: 40px;
        }

        button {
          width: 100%;
          height: 42px;
          border: none;
          outline: none;
          background-color: $primaryColor;
          color: $alternateColor;
          font-size: 1.5rem;
          letter-spacing: 0.6px;
          cursor: pointer;

          &:active {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}
