.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
	letter-spacing: 0.6px;

	background-color: lightpink;
}

.firstLine {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.secondLine {
	background-color: lightsalmon;
}

.info {
	letter-spacing: 0.8px;
	text-align: right;
	min-width: 300px;
	padding: 0 20px;
	box-sizing: border-box;
	width: 30%;

	background-color: lightblue;
}

.info ul {
	line-height: 2;
}

.photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333333;
	font-weight: 500;
	min-width: 300px;
	width: 30%;

	background-color: lightblue;
}

.avatar {
	margin: 10px 0;
	background: url("../assets/images/avatar.jpg") no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: 1px solid #333344;
	height: 198px;
	width: 198px;
}

.photo span {
	margin: 5px 0 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 2.2rem;
}

.photo ul li {
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0 5px;
}

.photo a {
	border: 1px solid #333344;
	padding: 5px 10px;
	display: block;
}

.photo a:hover {
	background: #F4F5F6;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.photo a:active {
	position: relative;
	top: 1px;
}

.photo a:visited {
	color: #333333;
}

.stack {
	min-width: 300px;
	padding: 0 20px;
	box-sizing: border-box;
	width: 30%;

	background-color: lightblue;
}

.icon {
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(224, 255, 255, 0.1);
	width: 35px;
	font-size: 2.5rem;
}

.soft {
	margin: auto;
	letter-spacing: 0.5px;
	text-align: center;
	min-width: 300px;
	width: 60%;

	border: 1px solid;
}

.soft p {
	padding: 0 15px 20px;
	margin: 15px 0 15px;
}

.soft p:first-child {
	padding: 5px 15px 0;
}

.soft a img {
	vertical-align: middle;
}

@media (min-width: 700px) and (max-width: 999px) {
	.photo {
		order: 3
	}
}

@media screen and (max-width: 365px) {
	.info, .stack {
		padding: 0 40px;
	}
	.soft p:first-child {
		padding: 5px 30px 0;
	}
}

@media screen and (max-width: 999px) {
	.soft {
		width: 80%;
	}
}