.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  letter-spacing: 0.6px;

  .firstLine {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .info {
      @media screen and (max-width: 365px) {
        padding: 0 40px;
      }
      letter-spacing: 0.8px;
      text-align: right;
      min-width: 300px;
      padding: 0 20px;
      box-sizing: border-box;
      width: 30%;

      ul {
        line-height: 2;
      }
    }

    .photo {
      @media (min-width: 700px) and (max-width: 999px) {
        order: 3;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #333344;
      font-weight: 500;
      min-width: 300px;
      width: 30%;

      .avatar {
        margin: 10px 0;
        background: url("../assets/images/avatar.jpg") no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 1px solid #333344;
        height: 198px;
        width: 198px;
      }

      span {
        margin: 5px 0 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 2.2rem;
      }

      ul li {
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 0 5px;
      }

      a {
        border: 1px solid #333344;
        padding: 5px 10px;
        display: block;

        &:hover {
          background: #ffffff;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
        }

        &:active {
          position: relative;
          top: 1px;
        }

        &:visited {
          color: #333344;
        }
      }
    }

    .stack {
      @media screen and (max-width: 365px) {
        padding: 0 40px;
      }
      min-width: 300px;
      padding: 0 20px;
      box-sizing: border-box;
      width: 30%;

      .icon {
        color: #333344;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(224, 255, 255, 0.1);
        width: 35px;
        font-size: 2.5rem;
      }
    }
  }

  .secondLine {
    @media screen and (max-width: 999px) {
      width: 80%;
    }
    margin: auto;
    letter-spacing: 0.5px;
    text-align: center;
    min-width: 300px;
    width: 60%;

    p {
      padding: 0 15px 20px;
      margin: 15px 0 15px;

      &:first-child {
        @media screen and (max-width: 365px) {
          padding: 5px 30px 0;
        }
        padding: 5px 15px 0;
      }
    }

    a img {
      vertical-align: middle;
    }

  }
}
