.appWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F4F5F6 url("./bg.png") repeat;
	height: 100vh;
	outline-offset: -15px;
	outline: 15px solid #333344;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;

	width: ;
	min-height: ;
	min-width: ;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 85vh;
	width: 100%;
	margin: 0 50px;

	background-color: lightyellow;
}
