.appWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F4F5F6 url("assets/image/bg.png") repeat;
	height: 100vh;
	outline-offset: -20px;
	outline: 20px solid #333344;
	overflow: auto;
	box-sizing: border-box;
	position: relative;
	min-width: 320px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 85vh;
	margin: 0 50px;

	background-color: lightyellow;
}
