@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.wrapper {
	@include flex(column, flex-start, center);
	margin-bottom: 40px;
	.projects {
		@media screen and (max-width: 400px) {
			align-items: center;
		}
		@include flex(column, flex-start, stretch);
		width: 80%;
	}
}
